{% extends 'base.html.twig' %}


{% block body %}
    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam vel maiores fuga similique at iusto minima deserunt autem quasi quis corrupti nisi nemo impedit corporis eos, mollitia expedita aut, esse saepe? Dolor odit enim fuga accusamus necessitatibus magni repudiandae dolorum.</p>
    <p>Nihil ea cum officiis magni cupiditate doloribus. Voluptatibus ipsam assumenda sequi non hic libero reiciendis laudantium possimus saepe, recusandae quibusdam ipsa! Quasi consequatur nulla ex, assumenda doloribus eum sed eveniet dolorum nemo maxime cupiditate laboriosam animi possimus laudantium minus. Id?</p>

{% endblock %}